<turbo-frame <%= css_class_for_tag %> <%= css_id_for_tag %>>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#<%= css_id_for_tag("Content") %>" aria-controls="<%= css_id_for_tag("Content") %>" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <turbo-frame class="collapse navbar-collapse mr-auto" id="<%= css_id_for_tag("Content") %>">
    <ul class="navbar-nav mt-2 mt-md-0">
      <% items.each do |i| %>
        <%= i %>
      <% end %>
    </ul>
  </turbo-frame>
</turbo-frame>
